{% extends "base.html" %} {% block content %}
<main class="bg-white p-8">
  <div class="max-w-7xl mx-auto p-6">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-4xl font-bold">Rutas Activas</h1>
      <div class="flex items-center space-x-2">
        <label class="form-label whitespace-nowrap"
          >Buscar rutas por orden ID</label
        >
        <input
          type="text"
          id="searchInput"
          placeholder="ID de la orden"
          class="form-input"
          oninput="filterTable()"
        />
        <button class="btn-primary" onclick="filterTable()">Buscar</button>
      </div>
    </div>

    <!-- Tabla de entregas activas -->
    <table class="w-full text-left border-collapse mb-10" id="routesTable">
      <thead>
        <tr>
          <th class="border-b-2 border-gray-400 py-2 px-4">Conductor(a)</th>
          <th class="border-b-2 border-gray-400 py-2 px-4">Orden ID</th>
          <th class="border-b-2 border-gray-400 py-2 px-4">Área</th>
          <th class="border-b-2 border-gray-400 py-2 px-4">Tienda</th>
          <th class="border-b-2 border-gray-400 py-2 px-4">
            Estado de tráfico
          </th>
          <th class="border-b-2 border-gray-400 py-2 px-4">Acción</th>
        </tr>
      </thead>
      <tbody class="text-lg">
        {% for route in page_obj %}
        <tr class="hover:bg-gray-100 transition-all">
          <td class="border-b-2 border-gray-300 py-3 px-4">
            {{ route.driver_name }}
          </td>
          <td class="border-b-2 border-gray-300 py-3 px-4 order-id-cell">
            <span class="order-id">{{ route.order_id }}</span>
          </td>
          <td class="border-b-2 border-gray-300 py-3 px-4">{{ route.area }}</td>
          <td class="border-b-2 border-gray-300 py-3 px-4">
            {{ route.store_latitude }}, {{ route.store_longitude }}
          </td>
          <td class="border-b-2 border-gray-300 py-1 px-4">
            <div
              class="py-2 rounded-md text-sm text-center font-bold {{ route.traffic_class }}"
            >
              {{ route.traffic }}
            </div>
          </td>
          <td class="border-b-2 border-gray-300 py-3 px-4">
            <a href="#" class="text-greenDart font-bold underline">Ver ruta</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center py-3">
            No se encontraron rutas activas.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Paginación -->
    <div class="flex justify-center mt-4">
      <div class="pagination">
        <span class="mr-2">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
        <span>
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Primero</a>
          <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          {% endif %} {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
</main>

<script>
  function filterTable() {
    const searchInput = document
      .getElementById("searchInput")
      .value.toLowerCase();
    const rows = document.querySelectorAll("#routesTable tbody tr");
    const orderIdSpans = document.querySelectorAll(".order-id");

    rows.forEach((row, index) => {
      const orderId = orderIdSpans[index].textContent.toLowerCase();

      if (orderId.includes(searchInput)) {
        row.style.display = "";
        highlightMatch(orderIdSpans[index], searchInput);
      } else {
        row.style.display = "none";
        orderIdSpans[index].innerHTML = orderIdSpans[index].textContent; // Reset content
      }
    });
  }

  function highlightMatch(spanElement, searchText) {
    const orderId = spanElement.textContent;
    const regex = new RegExp(`(${searchText})`, "gi");
    const highlightedOrderId = orderId.replace(
      regex,
      '<span class="bg-yellow-200">$1</span>'
    );
    spanElement.innerHTML = highlightedOrderId;
  }
</script>

{% endblock %}
